 <select name ="colorpicker" id ="aaa"> 
                <option value="#7bd148">Зеленый</option> 

              </select>
  <script type="text/javascript">
    $('#aaa').simplecolorpicker();
  </script>