 <select name ="colorpicker"> 
                <option  value = " #7bd148 "> Зеленый </option> 

              </select>
  <script type="text/javascript">
    $('select[name="colorpicker"]').simplecolorpicker();
  </script>