


      <form action = "/visit" method="POST"  class="form-horizontal">
        <div class="form-group">

          <div class="col-sm-4">
            <h1>    On this page </h1>
            <p> you can sign up for a barbershop</p>
          </div>
          <div class="col-sm-4">
            <input  name ="username" type="text" class="form-control" id="inputEmail3" placeholder="Your name" value="<%=@username%>">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <input name ="phone" type="text" class="form-control"  id="inputEmail3" placeholder="Your Phone"
            value="<%=@phone%>">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <input name ="date" type="text" class="form-control" id="inputEmail3" placeholder="Date"
            value="<%=@date%>">
          </div>
        </div>




        <div class="form-group">
          <div class="col-sm-4">
            <select name ="pric" class="form-control" id="exampleFormControlSelect1">
            <option>Walter White</option>
            <option>Jessie Pinkman</option>
            <option>Gus Fring</option>
            </select>
          </div>
        </div>
          <div class="col-sm-4">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Записатся</button>
        </div>
      </div>
      </form>
      </center>
    </div>




